.alinharCarregando{
    background-color: aliceblue;
    min-height: 100vh;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
}

.mensagemCarregando{
    color: rgb(29, 29, 29);
}